ErrorDocument 404 https://error.justwaitforme.de/404/
ErrorDocument 500 https://error.justwaitforme.de/500/
ErrorDocument 401 https://error.justwaitforme.de/401/
ErrorDocument 403 https://error.justwaitforme.de/403/


SetEnv CLIENT_SECRET "f7349d8f43e2c8ec8796d7b09debcfdbe1b73267"
SetEnv CLIENT_ID "10"


